.Modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: var(--modal-z-index);
  pointer-events: none;
  visibility: hidden;
}

.content {
  max-width: 60%;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--bg-color);
  transform: scale(0.5);
  transition: 0.3s transform;
}

.opened {
  pointer-events: auto;
  visibility: visible;

  .content {
    transform: scale(1);
  }
}

.closed {
  .content {
    transform: scale(0.3);
  }
}
