.LoginForm {
  display: flex;
  width: 400px;
  flex-direction: column;

  @media (max-width: 820px) {
    width: 100%;
  }
}

.input {
  margin-top: 10px;
}

.loginBtn {
  margin-top: 15px;
  margin-left: auto;
}
