.Sidebar {
  position: relative;
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  background-color: var(--inverted-bg-color);
  transition: width 0.3s ease-out;
  flex-shrink: 0;
}

.switchers {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 20px;
  justify-content: center;
}

.lang {
  margin-left: 20px;
  color: var(--inverted-primary-color);
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--collapsed-sidebar-width);

  .switchers {
    flex-direction: column;
  }

  .lang {
    margin-left: 0;
  }
}
