.InputWrapper {
  display: flex;
}

.placeholder {
  margin-right: 5px;
  white-space: nowrap;
}

.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
}
