.Listbox {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 8px;
}

.select {
  position: relative;
}

.button {
  padding: 4px 32px;
}

.list {
  position: absolute;
  left: 0;
  z-index: 100;
  padding: 5px 0;
  background-color: var(--select-bg);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  list-style: none;

  &.top {
    bottom: 100%;
    margin-bottom: 4px;
  }

  &.bottom {
    margin-top: 4px;
  }

  &.right {
    left: auto;
    right: 0;
  }
}

.item {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  padding: 4px 32px;

  &:hover {
    cursor: pointer;
  }
}

.checkIcon {
  position: absolute;
  left: 8px;
  transform: scale(0.7);
}

.readonly {
  opacity: 0.7;
}

.active {
  background-color: var(--inverted-primary-color);
}

.selected {
  background-color: var(--inverted-primary-color);
}
