.Drawer {
  display: none;
  position: fixed;
  align-items: flex-end;
  overflow-y: hidden;
  inset: 0;
}

.content {
  position: fixed;
  width: 96vw;
  height: calc(100vh + 100px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  background-color: var(--bg-color);
  left: 2vw;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  touch-action: none;
  z-index: var(--modal-z-index);
}

.opened {
  display: flex;
  z-index: var(--modal-z-index);
}
