.purple {
  --bg-color: #eff0fb;
  --primary-color: #5e69ee;
  --secondary-color: #70d0f0;
  --inverted-bg-color: #5e69ee;
  --inverted-primary-color: #70d0f0;
  --inverted-secondary-color: #5e69ee;
}
