.Navbar {
  display: flex;
  width: 100%;
  height: var(--navbar-height);
  align-items: center;
  padding: 20px;
  background-color: var(--inverted-bg-color);
}

.links {
  margin-left: auto;
}

.appName {
  width: calc(var(--sidebar-width) - 30px);
  margin-left: 10px;
}
