.AppLink {
  &:hover {
    opacity: 0.7;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.always {
  text-decoration: underline;
}

.hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.none {
  text-decoration: none;
}
